POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=otodom
DATABASE_URL=postgresql://postgres:postgres@db:5432/otodom

SCRAPE_CITY=Lodz
SCRAPE_INTERVAL_MINUTES=60
RUN_ON_STARTUP=true
ENABLE_FULL_SCRAPE=true
ENABLE_LATEST_24H_SCRAPE=true
